body{
  font-family: sans-serif;
  font-size: 100%;
  background: white url(https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500.jpg);
  background-repeat: top;
  background-position: center;
  display: flex;
  flex-direction: column;

}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
  
}

#profilePhoto{
  width: 50%;
  max-width: 220px;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgb(238, 130, 162);
}

header {
  text-align: left;
  justify-content: center;

}
#heading{
  font-family: sans-serif;
  font-size: 110%;
  background-color: rgba(62, 2, 82, 0.808);
}

footer {
  background-color: rgba(2, 63, 82, 0.807);
  text-align: center;
  }
  #sidebar{
    width: 20%;
    background-color: rgb(102, 5, 59);
    padding: 1rem;
    color: black;
  }
  
  .navList{
    list-style-type: none;
    padding: 0%;
  }

  .icons{
    width: 3rem;
    height: auto;
 
}

.fakeimg {
  height:  200px;
  background: #4c4c;
  box-shadow: 2px 2px 0px #666666;
}
